body {
  background: #f5f5f7;
  overflow-x: hidden;
}

.container {
  max-width: var(--breakpoint-lg);
}

.f-weight-900 {
  font-weight: 900;
}

.pt-6 {
  padding-top: 6rem !important;
}
.pb-6 {
  padding-bottom: 6rem !important;
}
.mt-6 {
  margin-top: 6rem !important;
}
.mb-6 {
  margin-bottom: 6rem !important;
}
.bg-black {
  background-color: black;
}

.screen {
  left: 4.5%;
  position: absolute;
  z-index: -1;
  top: 2vw;
  border-radius: 0;
}
.image-hardware {
  background-image: url(https://www.apple.com/v/ipad-pro/ac/images/overview/horizontal_ipad_pro_13_hw__blhsxr6ksmr6_large.png);
  width: 100%;
  height: 70vw;
  background-size: contain;
  z-index: 2;
  background-repeat: no-repeat;
  position: relative;
}
.pic-on-screen {
  width: 92%;
  height: 66vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.image-overview-camera-cameras-ar-screen {
  background-image: url(https://www.apple.com/v/ipad-pro/ac/images/overview/camera/cameras_ar_screen__bg8db448nwdu_large.jpg);
}
.image-overview-camera-cameras-shoot-screen {
  background-image: url(https://www.apple.com/th/ipad-pro/images/overview/camera/cameras_shoot_screen__ehtlxb2mglua_large.jpg);
}
.image-overview-camera-cameras-depth-screen {
  background-image: url(https://www.apple.com/th/ipad-pro/images/overview/camera/cameras_depth_screen__gdulmxxryh26_large.jpg);
}

/* Computer size */
.advert-text {
  font-size: 5rem;
  font-weight: 1000;
}
.advert1 {
  background-repeat: no-repeat;
  background-image: url(https://www.apple.com/v/ipad-pro/ac/images/overview/hero_manifesto_bg__c0zrbe748m82_large.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text-xl {
  font-size: 3.5rem;
}
.text-lg {
  font-size: 2.8rem;
  line-height: 1.2;
}
.text-md {
  font-size: 1.6rem;
}
.text-md-b1 {
  font-size: 1.8rem;
}
.br-md {
  display: none;
}
.br-more-md {
  display: inline;
}
.d-com {
  display: unset;
}
.d-phone {
  display: none;
}

.img1 {
  background-repeat: no-repeat;
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/816ctt5WV5L._AC_SX466_.jpg);
  background-size: 400px;
  background-position: 320px 0;
}
.img2 {
  background-repeat: no-repeat;
  background-image: url(https://www.apple.com/v/ipad-pro/ac/images/overview/camera/cameras_static_pro__e69k5s4qjtme_medium.jpg);
  background-size: 55vw;
  background-position: right top;
}
.img3 {
  background-repeat: no-repeat;
  background-image: url(https://www.apple.com/v/ipad-pro/ac/images/overview/camera/cameras_static_lidar__fu6l78zi0wyi_medium.jpg);
  background-size: 55vw;
  background-position: right top;
}
.img4 {
  background-image: url(https://www.apple.com/v/ipad-pro/ac/images/overview/camera/cameras_static_particles__ey4v1ywxpb0i_large.jpg);
  background-color: #000;
  background-size: 2590px 900px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  border-top: 25px solid #111;
  min-height: 900px;
}

/* Telephone size */
@media screen and (max-width: 991px) {
  /* body {
    padding-left: 10px;
    padding-right: 10px;
  } */
  .advert-text {
    font-size: 2.5rem;
    font-weight: 1000;
  }
  .advert1 {
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/ipad-pro/ac/images/overview/hero_manifesto_bg__c0zrbe748m82_large.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .text-xl {
    font-size: 1.8rem;
  }
  .text-lg {
    font-size: 1.3rem;
    line-height: 1.2;
  }
  .text-md {
    font-size: 1rem;
  }
  .text-md-b1 {
    font-size: 1.9rem;
  }
  .br-md {
    display: inline;
  }
  .br-more-md {
    display: none;
  }
  .d-com {
    display: none;
  }
  .d-phone {
    display: unset;
  }

  .img1 {
    background-repeat: no-repeat;
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/816ctt5WV5L._AC_SX466_.jpg);
    background-size: 300px;
    background-position: center;
    height: 350px;
  }
}
