body {
  background-color: #121217;
  color: #63636e;
  overflow-x: hidden;
}

.container {
  max-width: var(--breakpoint-lg);
}
a {
  color: #66bbff;
}
a:hover {
  color: #66bbff;
}
.f-weight-900 {
  font-weight: 900;
}
.line-h-1 {
  line-height: 0.1rem;
}
.pt-6 {
  padding-top: 6rem !important;
}
.pb-6 {
  padding-bottom: 6rem !important;
}
.pt-7 {
  padding-top: 12rem !important;
}
.pb-7 {
  padding-bottom: 12rem !important;
}
.mt-6 {
  margin-top: 6rem !important;
}
.mb-6 {
  margin-bottom: 6rem !important;
}
.mt-7 {
  margin-top: 12rem !important;
}
.mb-7 {
  margin-bottom: 12rem !important;
}

.color-kinds {
  color: #f2f2ff;
}
.color-AAAAB3 {
  color: #aaaab3;
}
.color-body {
  color: #63636e;
}
.bg-body {
  background-color: #121217;
}
.bg-data {
  background-color: #63636e;
}
.bg-greydark {
  background-color: #17171d;
}
.bg-black {
  background-color: #000;
}
.opacity {
  opacity: 0.35;
}
.line-heigh-s {
  line-height: 1.1;
}
.line-heigh-md {
  line-height: 1.3;
}
.bg-fog {
  background-image: url(Macbook-Pro-13-Pic/keys_trackpad_back_glow__ek482ozmnlsi_large.jpg);
  background-size: 105%;
  background-position: center;
  background-repeat: no-repeat;
}
.grad-text {
  background: linear-gradient(to right, rgb(129, 71, 223), rgb(166, 112, 211));
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#cpu-quad-bar {
  width: 100%;
  height: 7px;
  background-image: linear-gradient(
    to right,
    rgb(59, 45, 189),
    rgb(136, 93, 172)
  );
}
#cpu-dual-bar {
  width: 40%;
  height: 7px;
  background-image: linear-gradient(
    to right,
    rgb(131, 131, 131),
    rgb(228, 228, 228)
  );
}
#graphic-bar1 {
  width: 80%;
  height: 7px;
  background-image: linear-gradient(
    to right,
    rgb(59, 45, 189),
    rgb(136, 93, 172)
  );
}
#graphic-bar2 {
  width: 50%;
  height: 7px;
  background-image: linear-gradient(
    to right,
    rgb(59, 45, 189),
    rgb(136, 93, 172)
  );
}

/* Computer size */
.advert-text {
  font-size: 5rem;
  font-weight: 1000;
}
.text-xl {
  font-size: 64px;
}
.text-lg {
  font-size: 48px;
}
.text-md {
  font-size: 37px;
}
.text-sm {
  font-size: 23.5px;
}
.text-sm-1 {
  font-size: 26px;
}
.test-sss {
  font-size: 15px;
}
.text-data {
  font-size: 21px;
}
.text-data-sm {
  font-size: 17px;
}
.br-phone {
  display: none;
}
.br-com {
  display: inline;
}
.d-com {
  display: unset;
}
.d-phone {
  display: none;
}
.macPro13-frame {
  background-image: url(Macbook-Pro-13-Pic/perf_gallery_hw__bdxj0rf7d3te_large.png);
  position: relative;
  z-index: 5;
  width: 1009px;
  height: 599px;
  background-size: 1009px 599px;
  background-repeat: no-repeat;
  left: 50%;
  margin-left: -504.5px;
}
.img-in-frame {
  width: 769px;
  height: 481px;
  background-size: 769px 481px;
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin: auto;
}
.gallery1-in-frame {
  background-image: url(Macbook-Pro-13-Pic/perf_gallery_screen_photo__f8lhmvh5ye6i_large.jpg);
}
.img1-in-frame {
  width: 769px;
  height: 481px;
  background-size: 769px 481px;
  background-repeat: no-repeat;
  background-image: url(Macbook-Pro-13-Pic/perf_gallery_screen_photo__f8lhmvh5ye6i_large.jpg);
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin: auto;
}
button {
  color: #777777;
  background-color: transparent;
  display: inline;
  border: none;
  outline: none;
  white-space: nowrap;
}
button :hover {
  color: rgba(255, 255, 255, 0.6);
}
button:focus {
  color: white;
  outline: none;
  border-bottom: white solid 1px;
}
.fo-not-underline button {
  border-bottom: none;
}
.fo-not-underline button:focus {
  border-bottom: none;
}
.img-bg-chip {
  background-image: url(Macbook-Pro-13-Pic/chip_motherboard__cbmirasqheeu_small_2x.png);
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  width: 500px;
  height: 500px;
  right: 20px;
  bottom: -50px;
}
.fog2-bg {
  background-image: url(Macbook-Pro-13-Pic/perf_gallery_table_glow__ujnicbb7i6a6_large.jpg);
  position: absolute;
  background-size: 2000px;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0;
  width: 100vw;
  height: 600px;
  bottom: -270px;
  left: 0;
  right: 0;
  margin: auto;
}
.port-img {
  width: 100%;
  height: 120px;
  background-size: 2560px 120px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(Macbook-Pro-13-Pic/thunderbolt_hw__puai5jv3st6e_large.png);
  position: relative;
  margin: auto;
  text-align: center;
  display: block;
  z-index: 2;
}
.fog3-bg {
  background-image: linear-gradient(transparent, #17171d),
    url(Macbook-Pro-13-Pic/thunderbolt_table_glow__ga7vb4hyfjue_large.jpg);
  position: absolute;
  background-size: 2560px 399px;
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: 0;
  width: 100vw;
  height: 600px;
  bottom: -380px;
  left: 0;
  right: 0;
  margin: auto;
}
.fog4-bg {
  position: absolute;
  background-image: linear-gradient(transparent, transparent, #17171d),
    url(Macbook-Pro-13-Pic/thunderbolt_table_glow__ga7vb4hyfjue_large.jpg);
  background-size: 2000px;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  bottom: -330px;
}
.sidecar-img1 {
  width: 1000px;
  height: 600px;
}
.fog5-bg {
  position: absolute;
  background-image: linear-gradient(to bottom, transparent, #17171d),
    url(Macbook-Pro-13-Pic/continuity_table_glow__f3wgtsiu1iuu_large.jpg);
  background-size: 1500px;
  background-position: center top;
  background-repeat: no-repeat;
  z-index: 0;
  width: 100%;
  height: 100px;
  left: 0;
  right: 0;
  margin: auto;
  top: 225px;
}
.bg-mountain {
  background-image: url(Macbook-Pro-13-Pic/tile_macos__eqcfqi9lz0qe_large.jpg);
  height: 600px;
  background-size: 2560px 600px;
  background-repeat: no-repeat;
  background-position: center top;
}
.bg-product {
  background-image: url(Macbook-Pro-13-Pic/tile_accessories__e8swhzllmyqi_large.jpg);
  height: 810px;
  background-size: 2560px 810px;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.accessory-text {
  color: black;
}
.bg-trade {
  background-color: #2d2d2d;
  padding-top: 180px;
  padding-bottom: 180px;
}
.mac-edu {
  height: 600px;
  background-size: 675px 600px;
  background-repeat: no-repeat;
  background-image: url(Macbook-Pro-13-Pic/education__fkyb6fve4jmi_large.jpg);
  background-position: center bottom;
}
.mac-busi {
  height: 600px;
  background-size: 675px 600px;
  background-repeat: no-repeat;
  background-image: url(Macbook-Pro-13-Pic/business__fjdhojmvk9im_large.jpg);
  background-position: center bottom;
}
.fog6-bg {
  position: absolute;
  background-image: url(Macbook-Pro-13-Pic/mbp_table_glow__gatk45y5d5e2_large.jpg);
  background-size: 1500px;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  left: 0;
  right: 0;
  margin: auto;
  top: -160px;
}

/* Telephone size */
@media screen and (max-width: 991px) {
  .advert-text {
    font-size: 2.5rem;
    font-weight: 1000;
  }

  .text-xl {
    font-size: 38px;
  }
  .text-lg {
    font-size: 32px;
  }
  .text-md,
  .text-sm,
  .text-sm-1 {
    font-size: 19px;
  }
  .text-data {
    font-size: 17px;
  }
  .br-phone {
    display: inline;
  }
  .br-com {
    display: none;
  }
  .d-com {
    display: none;
  }
  .d-phone {
    display: unset;
  }
  .macPro13-frame {
    width: 349px;
    height: 208px;
    background-size: 349px 208px;
    background-image: url(Macbook-Pro-13-Pic/perf_gallery_hw__bdxj0rf7d3te_small_2x.png);
    width: 100%;
    margin-left: -50%;
    background-position: top center;
  }
  .img-in-frame {
    width: 265px;
    height: 166px;
    background-size: 265px 166px;
    top: 10px;
  }
  .scroll-phone {
    overflow-y: scroll;
  }
  .img-bg-chip {
    width: 300px;
    height: 300px;
    right: 60px;
    bottom: -30px;
  }
  .chip {
    width: 50%;
    opacity: 0.8;
  }
  .fog2-bg {
    background-size: 120vw;
    width: 90vw;
    height: 300px;
    bottom: -140px;
  }
  .port-img {
    background-size: 1000px 50px;
  }
  .fog3-bg {
    background-size: 1000px 199px;
    width: 100vw;
    height: 400px;
    bottom: -157px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .sidecar-img1 {
    width: 100%;
    height: auto;
  }
  .fog4-bg {
    position: absolute;
    background-image: linear-gradient(transparent, transparent, #17171d),
      url(Macbook-Pro-13-Pic/thunderbolt_table_glow__ga7vb4hyfjue_large.jpg);
    background-size: 1500px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    bottom: -300px;
  }
  .accessory-text {
    text-align: center;
  }
  .fog6-bg {
    background-size: 500px;
  }
}
