.btext {
    color: rgb(58, 58, 58);
    font-size: 12.5px;
}

.p0 {
    color: rgb(100, 100, 100);
    font-size: 12.5px;
}
p {
    font-size: 20px;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
}

.btn-link{
    text-align: left;
}
body {
    font-family: 'Prompt', sans-serif;
}
